
/* ==========================================================================
   1.General
   ========================================================================== */
   
body {
 
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  
  color: #4c4c4c;
}

h4 {
  font-size: 20px;
  margin: 12px 0;
}

a {
  color: #f56363;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  color: #fa5454;
  text-decoration: none;
}

a:focus { outline: none; }

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

b,
strong { font-weight: 600; }

/* ==========================================================================
   2.Hero section
   ========================================================================== */ 
   
.hero-section {
  background: url(../img/bg.jpg) center center no-repeat scroll;
  background-size: cover;
  padding: 0 0 4.5em;
  position: relative;
  color: #fff;
}

.hero-section::before,
.video-tour::before,
.pricing::before,
.twitter-feed::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.hero-section::before { background: rgba(0, 0, 0, 0.3); }

.welcome-message { margin-top: 4.5em; }

.welcome-message h1 {
  font-size: 36px;
  color: #fff;
  font-weight: 400;
  margin: 0 0 24px;
}

.welcome-message h2 {
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  margin: 0;
}


.cta-btn p {
  color: #fff;
  margin: .75em 0 0;
  font-size: 18px;
}

/* ==========================================================================
   3.Navbar
   ========================================================================== */

.navbar-default {
  background-color: rgba(255, 255, 255, 0.97);
  border: none;
  margin-bottom: 0;
  border-radius: 0;
  padding: .75em 0;
}

.nav > li { text-align: center; }

.nav > li > a > i { padding-right: .2em; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f56363;
  transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar { background-color: #fff; }

.navbar-brand { padding: 0 0 0 1em; }

.navbar-brand .logo-nav,
.nav-left { display: none; }

.navbar-default.stuck .logo-head { display: none; }

.navbar-default.stuck .logo-nav,
.navbar-default.stuck .nav-left { display: block; }

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus { color: #fff; }

.navbar-default.stuck .navbar-nav>li>a { 
  color: #4c4c4c;
  font-weight: 400;


   }

.navbar-default.stuck .navbar-nav > li > a:hover,
.navbar-default.stuck .navbar-nav > li > a:focus 

{ 
  color: #1E83B8;

 }

/*.navbar-default .btn { font-size: 16px; }*/

.navbar-default.stuck .navbar-nav .btn {
  display: inline-block;
  background: #f56363;
  color: #fff;
  border: 1px solid #f56363;
}

.navbar-default.stuck .navbar-nav .btn:hover,
.navbar-default.stuck .navbar-nav .btn:focus {
  background: #fa5454!important;
  color: #fff;
}

.navbar-default.stuck {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
  -webkit-animation: fadeInDown 1s both;
  animation: fadeInDown 1s both;
}
 @-webkit-keyframes fadeInDown {
0% {
opacity:0;
-webkit-transform:translateY(-20px);
transform:translateY(-20px);
}
100% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0);
}
}
@keyframes fadeInDown {
0% {
opacity:0;
-webkit-transform:translateY(-20px);
-ms-transform:translateY(-20px);
transform:translateY(-20px);
}
100% {
opacity:1;
-webkit-transform:translateY(0);
-ms-transform:translateY(0);
transform:translateY(0);
}
}

/* ==========================================================================
   4.Play button
   ========================================================================== */
  
 
/*.play-btn { margin: 2.25em 0; }

.hero-section .play-btn img { transition: opacity 0.3s linear; }

.play-btn img:hover { opacity: .8; }
*/


/* ==========================================================================
   8.video tour
   ========================================================================== */ 
   
.video-tour {
  position: relative;
  height: 400px;
  overflow: hidden;
  background: #333 url(../img/bg-video-preview.jpg) center center no-repeat scroll;
  background-size: cover;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.video-tour::before {
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.video-tour h2 {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
}

#bgvid-hero,
#bgvid {
  
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.video-tour .play-btn {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
}



/* ==========================================================================
   17.site footer 
   ========================================================================== */



.site-footer small { display: inline-block; }

.footer-links,
.site-footer small { margin: 0 0 .75em; }

.site-footer small,
.footer-links a {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.footer-links a:hover { color: #1E83B8; }

.footer-links a:first-child { padding-right: .4em; }

.site-footer { background-color: #2C3E50 }

.site-footer a{

  font-size: 12px;
  float:  left;
  margin-top: 8px;
}
.footerOgr {
  text-align: -webkit-center;
}
.copy a{
  float: initial;
}

/* ==========================================================================
   18.Social 
   ========================================================================== */


.redes li {
  display: inline-block;
  padding-right: .5em;
  text-align: center;
  color: #1E83B8;
}

.redes li:last-child { padding-right: 0; }

.redes li a {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  border-radius: 50%;
  position: relative;
  transition: all .8s ease;
  font-size: 1.3em;
  background: #D6D6D6;
}

.redes li a:hover {
  color: #fff;
  background: #f56363;
}
.redes .fa{
  color: #1E83B8;
}
.redes .fa:hover{
  color: #fff;
}

/* ==========================================================================
   19.Small devices (tablets, 768px and up)
   ========================================================================== */
   
@media (min-width: 768px) {

.hero-section { padding: 0 0 7.5em; }

.welcome-message { margin-top: 8.25em; }

.welcome-message h1 { font-size: 44px; }

.welcome-message h2 { font-size: 23px; }

.play-btn { margin: 3em 0; }

.featured-sites li {
  padding: 0 1em;
  display: inline-block;
}

.section-spacing { padding: 4.5em 0; }

.contact.section-spacing { padding: 4.5em 0 0; }

.section-header h3 { font-size: 26px; }

.benefits div[class^="col-"]:nth-child(1),
.benefits div[class^="col-"]:nth-child(2),
.reviews div[class^="col-"]:nth-child(1),
.reviews div[class^="col-"]:nth-child(2),
.team div[class^="col-"]:nth-child(1),
.team div[class^="col-"]:nth-child(2) { padding-bottom: 0; }

.tour .btn { margin: 0 0 0 1em; }

.video-tour { height: 450px; }

.plan {
  width: 325px;
  margin: 0 1em 0;
}

blockquote { padding: 0 0 0 1em; }

blockquote::before {
  left: -18px;
  top: -30px;
  font-size: 80px;
}

.cta-section h2 { font-size: 46px; }

.team h5 { margin: 0 !important; }

.tweet { font-size: 23px; }

.sub-form .btn { padding: 1em 2em; }
}

/* ==========================================================================
   20.Medium devices (desktops, 992px and up) 
   ========================================================================== */
   
@media (min-width: 992px) {

.hero-section {
  padding: 3em 0 12.75em;
  background: none;
}

.hero-section::before { display: none; }

.overlay {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
}

.navbar-default { background-color: transparent; }

.navbar-default .btn {
  border: 1px solid #fff;
  background-color: transparent;
  padding: .75em 1.5em;
}

.navbar-default .btn:hover { background-color: #fa5454 !important; }

.navbar-brand { padding: 0; }

.nav-left { padding-left: 3em; }

.welcome-message { margin-top: 4.5em; }

.welcome-message h2 { font-size: 24px; }

.play-btn { margin: 4.5em 0; }

.section-spacing { padding: 6em 0; }

.contact.section-spacing { padding: 6em 0 0; }

.features div[class="row"]:nth-child(1),
.features div[class="row"]:nth-child(2) { margin-bottom: 7.5em; }

.features article { margin-top: 6em; }

.features img {
  max-width: none;
  position: absolute;
  width: 900px;
  top: 0;
  left: 22px;
}

.features div[class="row"]:nth-child(2) .col-md-7 img { left: -277px; }

.featured-sites li { padding: 0 3em; }

.video-tour {
  height: 600px;
  background: none;
}

.video-tour::before { background: rgba(0, 0, 0, 0.1); }

#bgvid-hero,
#bgvid { display: block; }

.plan {
  margin: 0 1.5em 0;
  width: 350px;
}

blockquote { padding: 0 0 0 3em; }

blockquote::before {
  left: -5px;
  top: -50px;
  font-size: 128px;
}

.footer-links,
.site-footer small { margin: 0; }

.section-spacing.site-footer { padding: 3em 0; }
}

@media (max-width: 460px) {

.video-tour .play-btn img { width: 45%; }
.btn.btn-warning{
  margin-top: 20px;
}

}
