	/*==== Responsive code ====*/
	
	/*-- minimum width --*/


	/*-- maximum width --*/

@media (max-width: 991px) {
	
	.services-content-bg{
		background-image: none;
		}
	.top-services-space{
		padding-top: 100px;
		}
	.top-services-space-3{
		padding-top: 100px;
		}
	.top-services-space-4{
		padding-top: 150px;
		}
	.add-image-inner{
		top: 70px;
		left: 0px;
		}
	.add-image-inner-2{
		top: 70px;
		right: 0px;
		}
	
}
@media (max-width: 768px){
	
	.top-services-space{
		padding-top: 0px;
		}
	.top-services-space-2, .top-services-space-3, .top-services-space-4{
		padding-top: 50px;
		}
	.services-content-inner{
		margin-top: 40px;
		margin-bottom: 40px;
		}
}

	